{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}?v=1.0">
{% endblock %}

{% block title %}Créer un cursus{% endblock %}

{% block body %}
<h1>Créer un cursus</h1>

<form method="post">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>
    <label for="prix">Prix :</label>
    <input type="text" id="prix" name="prix" required>
    <label for="theme">Thème :</label>
    <select id="theme" name="cursus_id" required>
        {% for theme in themeList %}
            <option value="{{ theme.id }}">{{ theme.nom }}</option>
        {% endfor %}
    </select>
    
    <button type="submit" class='btn'>Créer</button>
</form>
{% endblock %}