{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}?v=1.0">
{% endblock %}

{% block title %}Créer une lecon{% endblock %}

{% block body %}
<h1>Créer une lecon</h1>

<form method="post">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>
    <label for="prix">Prix :</label>
    <input type="text" id="prix" name="prix" required>
    <label for="cursus">Cursus :</label>
    <select id="cursus" name="cursus_id" required>
        {% for cursus in cursusList %}
            <option value="{{ cursus.id }}">{{ cursus.nom }}</option>
        {% endfor %}
    </select>
    <button type="submit" class='btn'>Créer</button>
</form>
{% endblock %}